<a href="https://colab.research.google.com/github/singh2jz/Stroke_Predictions/blob/main/Project_2_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Week 8/Data/healthcare-dataset-stroke-data.csv')

In [3]:
df.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [4]:
df['stroke'].value_counts(normalize = True)

0    0.951272
1    0.048728
Name: stroke, dtype: float64

In [5]:
df['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [6]:
df['gender'].value_counts(normalize = True)

Female    0.585910
Male      0.413894
Other     0.000196
Name: gender, dtype: float64

In [7]:
no_stroke = df.loc[df['stroke']==0]

In [8]:
no_stroke['work_type'].value_counts()

Private          2776
Self-employed     754
children          685
Govt_job          624
Never_worked       22
Name: work_type, dtype: int64

In [9]:
stroke = df.loc[df['stroke']==1]

In [10]:
stroke['work_type'].value_counts()

Private          149
Self-employed     65
Govt_job          33
children           2
Name: work_type, dtype: int64

In [11]:
married = df.loc[df['ever_married']=='Yes']

In [12]:
married['stroke'].value_counts(normalize = True)

0    0.934387
1    0.065613
Name: stroke, dtype: float64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [14]:
df['bmi'].value_counts()

28.7    41
28.4    38
26.7    37
27.7    37
26.1    37
        ..
13.9     1
49.9     1
40.6     1
52.3     1
44.1     1
Name: bmi, Length: 418, dtype: int64

In [15]:
df.loc[df['bmi'].isna()]

         id  gender   age  ...  bmi   smoking_status stroke
1     51676  Female  61.0  ...  NaN     never smoked      1
8     27419  Female  59.0  ...  NaN          Unknown      1
13     8213    Male  78.0  ...  NaN          Unknown      1
19    25226    Male  57.0  ...  NaN          Unknown      1
27    61843    Male  58.0  ...  NaN          Unknown      1
...     ...     ...   ...  ...  ...              ...    ...
5039  42007    Male  41.0  ...  NaN  formerly smoked      0
5048  28788    Male  40.0  ...  NaN           smokes      0
5093  32235  Female  45.0  ...  NaN           smokes      0
5099   7293    Male  40.0  ...  NaN           smokes      0
5105  18234  Female  80.0  ...  NaN     never smoked      0

[201 rows x 12 columns]

In [16]:
na = df.loc[df['bmi'].isna()]

In [17]:
na['stroke'].value_counts()

0    161
1     40
Name: stroke, dtype: int64

In [22]:
df[df['id'].duplicated()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [24]:
df = df.set_index('id')

In [26]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [27]:
df.head()

       gender   age  hypertension  ...   bmi   smoking_status stroke
id                                 ...
9046     Male  67.0             0  ...  36.6  formerly smoked      1
51676  Female  61.0             0  ...   NaN     never smoked      1
31112    Male  80.0             0  ...  32.5     never smoked      1
60182  Female  49.0             0  ...  34.4           smokes      1
1665   Female  79.0             1  ...  24.0     never smoked      1

[5 rows x 11 columns]

In [30]:
df['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64